@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    font-family: "EB Garamond", serif;
    background-color: black;
    color: whitesmoke;
    margin: 0 2em 2em 2em;
    font-size: 18px;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: underline;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

nav {
    overflow-x: scroll;
    width: 15vw;
    /* margin-top: 10px; */
}

nav a {
    display: block;
    color: green !important;
    text-decoration: none;
}

.nav2 a {
    color: green !important;
    text-decoration: none;
}

nav a:hover, .nav2 a:hover {
    color: blue !important;
    text-decoration: none;
}

hr {
    width: 5em;
    text-align: left;
    margin-left: 0;
}

p {
    margin-top: 0;
}

.current {
    color: blue !important;
}

.images {
    display: flex;
    justify-content: center;
    width: 100%;
}

.images img {
    height: 100px;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    font-size: 1.5em;
}

.flex {
    display: flex;
}

.main {
    width: 85vw;
}