* {
    font-family: 'Cousine', monospace;
    color: black;
}
body {
    background-color: #434343;
    display: flex;
    flex-direction: row;
}
textarea {
    background: #666666;
    resize: none;
    border: 3px solid black;
    height: 500px;
    margin-bottom: 5px;
}
a {
    text-decoration: none;
    color: #CCCCCC;
}
button {
    background-color: #666666;
    border: none;
    border: 3px solid black;
    box-shadow: none;
    cursor: pointer;

}
#apply:active {
    background-color: #888888;
}



.crio {
    display: flex;
    flex-direction: row;
}
.criobox {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 5px;
}
.sep {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.nav {
    width: 10%;
    overflow: hidden;
    border-right: 3px solid black;
    height: 100vmax;
    overflow: hidden;
    margin-right: 10px;
}
.bb {
    display: flex;
    flex-direction: row;
}
.bbitem {
    width: 100%;
}
#output {
    color: #DDDDDD;
    cursor: text;
}
.nav2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#dialogue {
    height: 100px;
    color: #AA0000;
    margin-top: 5px;
    cursor: text;
    margin-right: 5px;
}
.title {
    margin-right: 5%;
}
.example {
    background-color: #222222;
    color: #666666;
    padding: 10px;
    width: fit-content;
}