@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    font-family: "EB Garamond", serif;
    background-color: black;
    color: white;
    margin: 0 2em 2em 2em;
    font-size: 18px;
    display: flex;
}

h1 {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
}

a {
    display: block;
    text-decoration: underline;
}

a:visited {
    color: blue;
}

a:hover {
    color: green;
}

nav {
    overflow-x: scroll;
    width: 15vw;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.5em;
}

.main {
    width: 85vw;
}

.green {
    color: green;
}